@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab";
}

.page_1{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)), url(../storage/img/placeYourImageHere0.png); /* URL de la imagen clara */
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
}
.fondo1{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
}
.menu1{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
}
.logo1 .logoimg1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_izq,.menu_der{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 40%;
    height: 100%;
    flex-direction: row;
}
.menu_izq a,.menu_der a{
    color: var(--color-font);
    font-family: "Roboto Slab";
    font-weight: 600;
    text-decoration-line: none;
    font-size: 18px;
}
.blog1{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    gap: 3%;
    padding-bottom: 4%;
}
.imagen1{
    display: flex;
    align-items: center;
}
.imagen1 img{
    height: 80%;
    width: min-content;
    box-sizing: content-box;
}
.texto1{
    width: 38%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto1 h1{
    width: 95%;
    font-size: 5em;
    color: var(--color-primary);
}
.texto1 h2{
    width: 80%;
    font-size: 2em;
    font-family: "Roboto Slab",serif;
    font-weight: 600;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 20px;
}
#contact-us{
    font-size: 2em;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    width: 30%;
    height:2.5em;
    color: #17171e;
    background-color: var(--color-primary);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.menu1 :hover{
    color: #e58f00;
}

.page_2{
    height: 100vh;
    width: 100%;
    background-color: #17171e;
}

.blog2{
    height: 100%;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.imagen2 img{
    height: 600px;
    width: auto;
}

.texto2 h1{
    width: 50%;
    font-size: 45px;
    color: #fff;
}
.texto2{
    display: flex;
    width:40%;
    height: auto;
    flex-direction: column;
}
.texto2 h2{
    width: 100%;
    font-size: 2.2em;
    color: #fff;
    display: flex;
}

.page3{
    display: flex;
    width: 100%;
    height: 200vh;
    background-color: var(--color-secundary);
    background-image: url(../storage/img/placeYourImageHereFood.png);
    background-size: 100% 100%;
    position: center;
    background-repeat: no-repeat;
    flex-direction: column;
}
.page3 .imagen4{
    display: flex;
    justify-content: end;
}
.page3 .imagen4 img{
    margin-top: auto;
}

.page3 .imagen5{
    margin-top: 330px;
    display: flex;
    bottom: 0;
    align-items: end;
}

 .page3 .texto{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.imagen4 img{
    bottom: 85%;
    margin-bottom: 30px;
}

.page3 .texto h1{
    font-family: "Roboto Slab",serif;
    font-weight: 900;
    color: var(--color-font);
    font-size: 45px;
}

.page3 .texto{
    font-family: "Roboto Slab",serif;
    font-weight: 600;
    color: var(--color-font);
    font-size: 2em;
    display: flex;
    align-self: end;
    margin-right: 23%;
}
.page3 .platos3{
    display: flex;
    justify-content: space-between;

}

.page4{
    width: 100%;
    height: 160vh;
    background-color: var(--color-secundary);
    overflow: hidden;
}
.page4 .container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page4 .titulo4{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    box-sizing: content-box;
}

.page4 .titulo4 h2{
    font-size: 55px;
    font-weight: 800;
    color: var(--color-font);
}
.page4 .gallery{
    height: 85%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}
.page4 .gallery img{
    flex: 0 1 28%;/*para que se empequeñezca y tenga un tamaño iniciañ del 33%*/
    height: 580px;
}

.page5{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url(../storage/img/placeYourImageHereOur0.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
}
.page5 .cuadro{
    display: flex;
    width: 45%;
    height: 60vh;
    border: 7px solid var(--color-primary);
    align-self: center;
    background-color: var(--color-secundary);
    color: var(--color-font);
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.page5 .cuadro h1{
    font-size: 400%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.page5 .cuadro .texto{
    display: flex;
    justify-content: center;
}
.page5 .cuadro p{
    width: 70%;
    height: auto;
    font-size: 200%;
    display: flex;
    text-align: center;
    align-content: center ;
}

.page6{
    display: flex;
    width: 100%;
    height: 110vh;
    background-color: var(--color-secundary);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page6 .cajas{
    display: flex;
    width: 100%;
    height: 75%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space;
    gap: 2%;
}
.page6 .box{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}
.page6 .titulo h1{
    font-family: "Roboto Slab";
    color: var(--color-font);
    font-size: 40px;
    width: 100%;
    height: 15%;
}

.page6 img{
    width: 100%;
    object-fit: fill;
    align-self: center;
}

.page6 h2{
    color: var(--color-primary);
    font-weight: 800;
    font-size: 31px;
}
.page6 p{
    color: var(--color-font);
}
.page6 .precio{
    color: var(--color-primary);
    font-size: 25px;
    font-weight: 800;
}

.page7{
    height: 100vh;
    width: 100%;
}
.page7 .container-orange{
    display: flex;
    height: 50%;
    align-items: center;
    background-color: var(--color-primary);
}

.page7 .container-gray{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: var(--color-ternario);
    overflow: hidden;
}

.page7 .texto{
    margin-left: 5%;
    width: 40%;
    color: var(--color-font);
    height: 60%;
    row-gap: 10%;
}

.page7 h2{
    font-family: "Roboto Slab";
    font-size: 40px;
}
.page7 h4{
    padding-top: 3%;
    font-family: "Roboto Slab";
    font-size: 30px;
}
.page7 img{
    object-fit: none;
}
.page7 .menu-footer{
    width: 70%;
    justify-content: center;
    list-style-type: none;
    display: flex;
    flex-wrap:nowrap;
    gap: 3%;
    color: var(--color-font);
}
.page7 .icons{
    display: flex;
    gap: 10%;
}
.page7 li:hover{
    color: var(--color-primary);
    cursor: pointer;
}